.product-page-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgb(228, 232, 248);
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.add-product-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.add-product-button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 10px;
}

.add-product-button:hover {
    opacity: 1;
}
